<?xml version="1.0"?>
<!--
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<appSettings>
		<add key="EmailUserName" value="dslmslsync@udld.biz"/>
		<add key="EmailPassword" value="Start123987"/>
		<add key="SMTPServerName" value="mail.udld.biz"/>
		<add key="SMTPServerPort" value="25"/>
		<add key="SMTPServerTimeOut" value="60000"/>
		<add key="BBRNId" value="44"/>
    <add key="ServiceUsername" value="udlsap"/>
    <add key="ServicePassword" value="@Q579$%1"/>
		<add key="HOEmail" value="noman.siddique@udld.biz"/>
	</appSettings>
	<connectionStrings>
		<!--<add name="UDLNewDBConnection" connectionString="Data Source=.\MSSQLSERVER2014;Database=DBSV2;Integrated Security=False;User ID=udl;Connect Timeout=15;Encrypt=False;Packet Size=4096"></add> </connectionStrings>-->
		<add name="UDLNewDBConnection" connectionString="Data Source=DBSV2;Initial Catalog=DBSv2_SAPBBRN;Persist Security Info=True;User ID=sa;Password=Glu1Fro0;Connection Timeout=0" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<customErrors mode="Off"/>
		<!--
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="None"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm"/>
            <error statusCode="404" redirect="FileNotFound.htm"/>
        </customErrors>
        -->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<!--
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.serviceModel>
		<!--"https://udlhocl97.udld.local:83/UserNamePassService.svc"-->
		<client>
   <endpoint address="http://udlhocl97.udld.local:83/SAPIDOCReceiverService.svc"
    binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IService1"
    contract="SAPIDOCReceiver.IService1" name="WSHttpBinding_IService1">
    <identity>
     <servicePrincipalName value="host/udlhocl97.udld.local" />
    </identity>
   </endpoint>
  </client>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true">
      <baseAddressPrefixFilters>
        <add prefix="http://localhost:9876"/>
      </baseAddressPrefixFilters>
    </serviceHostingEnvironment>
    
		<behaviors>
			<serviceBehaviors>
				<behavior name="Behavior1">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
					<serviceCredentials>
						<serviceCertificate findValue="MyWebsite" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName"/>
						<userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="CustomUsernamePasswordAuth.Service.UserNamePassValidator, CustomUsernamePasswordAuth.Service"/>
					</serviceCredentials>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<bindings>
   <wsHttpBinding>
    <binding name="Binding1" closeTimeout="00:02:00" openTimeout="00:02:00"
     receiveTimeout="00:50:00">
     <security mode="Message">
      <message clientCredentialType="UserName" />
     </security>
    </binding>
    <binding name="WSHttpBinding_IService1" />
   </wsHttpBinding>
  </bindings>
		<services>
			<service behaviorConfiguration="Behavior1" name="CustomUsernamePasswordAuth.Service.Service1">
				<endpoint address="" binding="wsHttpBinding" bindingConfiguration="Binding1" contract="CustomUsernamePasswordAuth.Service.IService1"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
				<!--<host>
                    <baseAddresses>
                        <add baseAddress="http://localhost/" />
                    </baseAddresses>
                </host>-->
			</service>
		</services>
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<directoryBrowse enabled="true"/>
		<handlers>
			<add name=".svc" verb="*" path="*.svc" type="System.ServiceModel.Activation.ServiceHttpHandlerFactory, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		</handlers>
	</system.webServer>
</configuration>
